<div class="row col-md-12">

  <span [hidden]="state.tagState > 0">
      <span *ngFor="let tag of state.tags">
        <a href="/stack" (click)="onTagSelect($event, tag.Classification)">{{tag.Classification}} ({{tag.Unreaded}})</a>
      </span>
  </span>

  <span [hidden]="state.tagState == 0">
    <a href="#" class="back-tag" (click)="onBackTagSelect($event)"><span class="glyphicon glyphicon-backward"></span></a>
    <a href="#" class="current-tag-label" (click)="onTagSelect($event, state.selectedTag)">{{state.selectedTag}}:</a>
  </span>


  <span [hidden]="state.tagState == 0">
      <span *ngFor="let tag of state.secondTags">
        <a href="#" (click)="onSecondTagSelect($event, tag.details)">{{tag.details}} ({{tag.count}})</a>
      </span>
  </span>
</div>
