<div class="row col-md-12 rss-panel">

  <div class="btn-group" dropdown>
    <button type="button" class="btn btn-default btn-xs dropdown-toggle" dropdownToggle>
      Display
      <span class="caret"></span>
    </button>
    <ul *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu">
      <li role="menuitem"><a href="#" (click)="generateEvent($event, eventType.ShowContent)">Show content</a></li>
      <li role="menuitem"><a href="#" (click)="generateEvent($event, eventType.SortByNewest)">Sort by newest</a></li>
      <li role="menuitem"><a href="#" (click)="generateEvent($event, eventType.SortByOldest)">Sort by oldest</a></li>
    </ul>
  </div>

  <div class="btn-group" dropdown>
    <button type="button" class="btn btn-default btn-xs dropdown-toggle" dropdownToggle>
      Action
      <span class="caret"></span>
    </button>
    <ul *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu">
      <li role="menuitem"><a href="#" (click)="generateEvent($event, eventType.Edit)">Edit</a></li>
      <li role="menuitem"><a href="#" (click)="generateEvent($event, eventType.Unsubscribe)">Unsubscribe</a></li>
    </ul>
  </div>

  <button type="button" class="btn btn-default btn-xs" (click)="generateEvent($event, eventType.ReadAll)">
    Mark all as read
  </button>
</div>
