<div class="vk-section container-fluid">

  <div class="row">

    <rss-feed-list (onFeedSelected)="onFeedSelected($event)"></rss-feed-list>

    <div class="col-md-10">

      <rss-action-panel (onShowContent)="onChangeShowContent()"
                        (onSortByNewest)="onSortByNewest()"
                        (onSortByOldest)="onSortByOldest()"
                        (onEdit)="showModal()"
                        (onReadAll)="readAll()"
                        (onUnsubscribe)="unsubscribe()"></rss-action-panel>

      <rss-feed-table #feedtable></rss-feed-table>

    </div>
  </div>

  <!-- Modal windows -->
  <renamefeed-modalwindow #renamefeedmodal [selectedFeed]="selectedFeed" (onFeedWasModified)="updateFeed($event)"></renamefeed-modalwindow>
</div>
