<div class="vk-section container-fluid">

  <div class="row">

    <!-- list of feeds -->
    <div class="col-md-2 feed-list">
      <div *ngFor="let folder of folders">
        <div class="feed-folder">{{folder}}</div>

        <div *ngFor="let feed of feedsByFolder(folder)">
          <a href="#" (click)="onFeedSelected($event, feed)">{{feed.AlternativeName}} ({{feed.Unreaded}})</a>
        </div>
      </div>
    </div>

    <div class="col-md-10">

      <div class="row col-md-12 rss-panel">

        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" dropdownToggle>
            Display
            <span class="caret"></span>
          </button>
          <ul dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu-right">
            <li role="menuitem"><a href="#" (click)="onChangeShowContent($event)">Show content</a></li>
            <li role="menuitem"><a href="#" (click)="onSortByNewest($event)">Sort by newest</a></li>
            <li role="menuitem"><a href="#" (click)="onSortByOldest($event)">Sort by oldest</a></li>
          </ul>
        </div>

        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" dropdownToggle>
            Action
            <span class="caret"></span>
          </button>
          <ul dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu-right">
            <li role="menuitem"><a href="#" (click)="showModal($event)">Edit</a></li>
            <li role="menuitem"><a href="#" (click)="unsubscribe($event)">Unsubscribe</a></li>
          </ul>
        </div>

        <button type="button" class="btn btn-default btn-xs" (click)="readAll($event)">
          Mark all as read
        </button>
      </div>

      <div id="rss-table" class="row col-md-12" (window:keydown)="keyEvent($event)">
        <div *ngFor="let i of items">
          <div class="rss-element" [ngClass]="{ 'rss-element-dotted' : showContent}">
            <div class="first-line">
              <a href="{{i.Link}}" [ngClass]="{ 'first-line-big' : showContent}">{{i.Title}}</a>

              <tag-select [tags]="tags" [itemId]="i.Id" [source]="source" class="tag-select pull-right"></tag-select>

            </div>
            <div class="second-line">
              ({{i.Date | stringdate | cleandate }}) (<a href="#" (click)="markAsRead($event, i)">mark-as-read</a>)
            </div>
            <div *ngIf="showContent" class="content" [innerHTML]="i.Content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal windows -->
  <renamefeed-modalwindow #renamefeedmodal [selectedFeed]="selectedFeed" (onFeedWasModified)="updateFeed($event)"></renamefeed-modalwindow>
</div>
