a { font-size: 13px; }
.vk-section {
  margin-left: 10px;
  margin-right: 10px;
}
.feed-list {
  margin-top: 30px;
}
.feed-folder {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 13px;
}
.rss-panel {
  margin-top: 8px;
  margin-bottom: 8px;
}

div#rss-table {
  line-height: 1.1;
}

.rss-element-dotted {
  border: 1px dotted #bbb;
}

.rss-element {
  margin-bottom: 8px;
}

.first-line {
  margin-left: 10px;
  margin-top: 8px;
}

.first-line-big {
  font-size: 14px;
}

.second-line {
  color: #777;
  margin-left: 10px;
  font-size: 13px;
}

.second-line a {
  color: #777;
}

.content {
  margin: 8px 25px 8px;
  padding: 5px;
  font-size: 13px;
}

.caret {
  margin-left: 6px;
}

.tag-select {
  margin-right: 15px;
}

.tags {
  margin-right: 10px;
}
