<div class="vk-section container-fluid">

  <div class="row">

    <!-- list of feeds -->
    <div class="col-md-2 feed-list">
      <div *ngFor="let folder of folders">
        <div class="feed-folder">{{folder}}</div>

        <div *ngFor="let feed of feedsByFolder(folder)">
          <a href="#" (click)="onFeedSelected($event, feed)">{{feed.AlternativeName}} ({{feed.Unreaded}})</a>
        </div>
      </div>
    </div>

    <div class="col-md-10">

      <rss-action-panel (onShowContent)="onChangeShowContent()"
                        (onSortByNewest)="onSortByNewest()"
                        (onSortByOldest)="onSortByOldest()"
                        (onEdit)="showModal()"
                        (onReadAll)="readAll()"
                        (onUnsubscribe)="unsubscribe()"></rss-action-panel>

      <div id="rss-table" class="row col-md-12" (window:keydown)="keyEvent($event)">
        <div *ngFor="let i of items">
          <div class="rss-element" [ngClass]="{ 'rss-element-dotted' : showContent}">
            <div class="first-line">
              <a href="{{i.Link}}" [ngClass]="{ 'first-line-big' : showContent}">{{i.Title}}</a>

              <tag-select [tags]="tags" [itemId]="i.Id" [source]="source" class="tag-select pull-right"></tag-select>

            </div>
            <div class="second-line">
              ({{i.Date | stringdate | cleandate }}) (<a href="#" (click)="markAsRead($event, i)">mark-as-read</a>)
            </div>
            <div *ngIf="showContent" class="content" [innerHTML]="i.Content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal windows -->
  <renamefeed-modalwindow #renamefeedmodal [selectedFeed]="selectedFeed" (onFeedWasModified)="updateFeed($event)"></renamefeed-modalwindow>
</div>
