.section {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
div#news-table {
  margin-top: 10px;
  line-height: 1.1;
}
.item-element {
  margin-bottom: 5px;
}
.second-line {
  color: #777;
  font-size: 13px;
}
.second-line a {
  color: #777;
}
a { font-size: 13px; }
