<div class="stack-section container-fluid">

  <stack-action-panel
    (onMarkAllAsReaded)="markAllAsRead()"
    (onMarkAsReadedOlderOneDay)="markAllAsReadOlderOneDay()"></stack-action-panel>

  <stack-tags></stack-tags>

  <div id="stack-table" (window:keydown)="keyEvent($event)">
    <div *ngFor="let q of questions">
      <div class="stack-element">
        <div class="first-line">
          <a href="{{q.link}}" class="question-header">{{q.title}}</a>
          <tag-select [tags]="tags" [itemId]="q.id" [source]="source" class="tag-select"></tag-select>
          <a href="#" class="remove-icon" (click)="markAsRead($event, q)">
            <span class="glyphicon glyphicon-remove "></span>
          </a>
        </div>
        <div class="second-line">
          [{{q.tags}}] ({{q.creationdate | stringdate | cleandate }})
        </div>
      </div>
    </div>
  </div>
</div>
