<div class="feed-section container-fluid">

  <div class="row col-md-12 feed-panel">
    <button type="button" class="btn btn-default btn-xs" (click)="subscribe()">
      Subscribe
    </button>
    <input #filterbox type="text" id="feed-search" (keyup)="onFilter(filterbox.value)">
  </div>

  <div *ngFor="let feedType of feedTypes" class="row col-md-12">

    <div class="row col-md-12">{{feedType}}</div>

    <div *ngFor="let feed of feedsByType(feedType)" class="row col-md-12">
      <a [routerLink]="['/feeds', feed.Id]" [ngClass]="{'broken': feed.Broken == 1}">{{feed.Title}}</a> ({{feed.LastSyncTime | stringdate | cleandate }})
    </div>
  </div>
</div>
